/* RegistrationForm.css */

.registration-form-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .registration-form-title {
    text-align: center;
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .registration-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-label {
    margin-bottom: 10px;
    color: #666;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
  }
  
  .form-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 5px;
  }
  
  .form-submit-button {
    margin-top: 20px;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form-submit-button:hover {
    background-color: #218838;
  }
  